body {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #c93555;
}

.container {
    width: 63%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header {
    width: 93%;
    margin-left: 104px;
}

header {
    height: 88px;
    background-color: #040440;
}

#about-us {
    margin-left: 515px;
    margin-top: -7px;
}

#about-course {
    margin-top: -7px;
}

#contacts {
    margin-right: 36px;
    margin-top: -7px;
}

.banner {
    background-image: url(../img/banner-backgroung.png);
    min-height: 892px;
    margin: 0;
    background-size: auto;
}

.container-banner {
    display: block;
    padding-top: 180px;
}

.container__first-block {
    width: 85%;
    justify-content: center;
}

.first-block {
    min-height: 685px;
    background-color: #040440;
    margin-top: -1px;
}

.second-block {
    min-height: 807px;
    background-color: #130b5b;
}

footer {
    height: 111px;
    background-color: #040440;
}

.const-text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.const-link {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}

.const-button {
    margin-right: 37px;
}

.sign-button {
    width: 258px;
    height: 75px;
    background-color: #c93555;
    border-radius: 36.5px;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 500;
    color: #fefefe;
    text-transform: uppercase;
    padding-bottom: 9px;
}

.sign-button_header {
    font-size: 28px;
    font-size: 24px;
    padding: 0px 0px 8px 8px;
}

.banner__pre-title {
    color: #c93555;
    font-size: 23px;
    font-weight: 500;
    border-top: 7px solid #c93555;
    width: max-content;
    padding-top: 13px;
}

.banner__title {
    font-size: 51px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 47px 0;
}

.banner__subtitle {
    font-size: 25px;
    padding-bottom: 80px;
}

.banner__content {
    display: flex;
}

.banner__button {
    padding-bottom: 55px;
}

.content-item {
    padding-right: 90px;
}

.content-item__title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color: #fefefe;
    padding-bottom: 10px;
}

.content-item__content {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: #fefefe;
}

.article__article-header {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 900;
    color: #ffffff;
    padding: 96px 0px 64px 43px;
}

.article__article-header::before {
    padding-right: 20px;
    content: '';
    border-left: 7px solid #c93555;
}

.article__article-content {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 40px;
    padding-left: 59px;
}

.container-second-block {
    display: block;
}

.block__article-with-button {
    display: flex;
}

.block-with-button {
    display: flex;
}

.education-center-link {
    width: 537px;
    height: 155px;
    border-radius: 30px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #c93555;
    margin: 66px 10px 0 10px;
    padding: 0 0 21px 0px;
}

.const-social {
    display: flex;
}

.const-social a img {
    border-radius: 11px;
    padding: 0 10px;
}

.block__block-image {
    margin: 44px 41px 0 253px;
}

#second-block-header {
    padding: 66px 0px 64px 0px;
}

#second-block-content {
    margin-bottom: 0;
    padding-left: 4px;
}